<div nz-row>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <nz-card nzTitle="Login" style="margin-top: 20%;">
      <form nz-form >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input name="username" type="email" nz-input   placeholder="username" [(ngModel)] ="data.email"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input name="password" type="password" nz-input  placeholder="Password"  [(ngModel)] ="data.password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="login()">Log in</button>
        Or <a routerLink="../register"> register now! </a>
      </form>
    </nz-card>
  </div>
  <div nz-col nzSpan="8"></div>
</div>